@media (min-width: 768px) {
  .container {
    max-width: 860px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.usernamebox.ng-hide-add, .usernamebox.ng-hide-remove {
  transition:1s linear all;
  display:block!important;
}

.usernamebox.ng-hide-add {
  -webkit-animation: bounceOutDown 1s;
  -moz-animation: bounceOutDown 1s;
  -ms-animation: bounceOutDown 1s;
  animation: bounceOutDown 1s;
}

.messagebox.ng-hide-add, .messagebox.ng-hide-remove {
  transition:1s linear all;
  display:block!important;
}

.messagebox.ng-hide-remove {
  -webkit-animation: bounceInDown 1s;
  -moz-animation: bounceInDown 1s;
  -ms-animation: bounceInDown 1s;
  animation: bounceInDown 1s;
}
.footer-left {
	float: left;
}

.footer-right {
	float: right;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.fullscreen{
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 0px

}
