<div class=" container panel panel-warning col-lg-12" >
   <div class="panel-heading">Main Panel
   </div>
   <div class="panel-body">
     <p>Select device:</p>
     <div class="btn-group input-group" style="width:100%">
      <div ng-repeat="d in devices" class="btn-group" >
        <button type="button" class="btn btn-default" ng-click="deviceSelect(d)">{{d.name}}</button>
      </div>
    </div>
      <!-- {{device_s}} -->
    </br>
    <p> and then ...</p>
     <div class="input-group">

     <div ng-click="ann_switch()" type="button" class="btn btn-lg btn-danger input-group-btn"
           ng-show="!switch_1" >Start the device controller</div>
     <div ng-click="ann_switch()" type="button" class="btn btn-lg btn-success input-group-btn"
       ng-show="switch_1" >Stop the device controller</div>
     </div>
   </br>
 <hr/>
    <p>Select the robot:</p>
    <div class="btn-group input-group" style="width:100%">
      <div ng-repeat="r in robots" class="btn-group" >
        <button type="button" class="btn btn-default" ng-click="robotSelect(r)">{{r.name}}</button>
      </div>
    </div>
    </br>
    <p> and then ..</p>
     <div class="input-group">
      <div ng-click="music_switch()" type="button" class="btn btn-lg btn-danger input-group-btn"
           ng-show="!switch_2" >Start the robot controller</div>
      <div ng-click="music_switch()" type="button" class="btn btn-lg btn-success input-group-btn"
           ng-show="switch_2" >Stop the robot controller</div>

     </div>
   <hr/>

       <h4>Info:</h4>
       The User Controller is <a ng-show="switch_1">ON</a><a ng-show="!switch_1">OFF</a>
     </br>
       The Robot Controller is <a ng-show="switch_2">ON</a><a ng-show="!switch_2">OFF</a>

   </div>
</div>
