<div class="container panel col-lg-12" >
   <div class="panel-heading" > Leap Control
   </div>
       <div class="panel-body" ng-show="switch_1 && switch_2">
           <div class="btn-group input-group" style="width:100%">
               <button ng-click="step1learning()" type="button" class="btn btn-lg btn-danger" ng-show="!step1learning_on" style="width:100%;">Robot Exploration</button>
               <button ng-click="step1learning()" type="button" class="btn btn-lg btn-success" ng-show="step1learning_on" style="width:100%;">Robot Exploration</button>
               <h5>Info:</h5>
               This stage is <a ng-show="step1learning_on">ON</a><a ng-show="!step1learning_on">OFF</a>
           </div>
           <div class="btn-group input-group" style="width:100%">
               <button ng-click="step2learning()" type="button" class="btn btn-lg btn-danger" ng-show="!step2learning_on" style="width:100%;">Demonstrate Behaviours </button>
               <button ng-click="step2learning()" type="button" class="btn btn-lg btn-success" ng-show="step2learning_on" style="width:100%;">Demonstrate Behaviours</button>
           </div>
               <div id="drawable"  ng-show="step2learning_on">

                   <div class="btn-group input-group" style="width:100%">
                     <div class="btn-group" ng-repeat="exp in expertsON">
                         <button ng-click="expSwitch(exp.id)" type="button" class="btn btn-sml btn-danger" ng-show="!exp.on">Expert {{exp.id+1}}  </button>
                         <button ng-click="expSwitch(exp.id)" type="button" class="btn btn-sml btn-success" ng-show="exp.on" >Expert {{exp.id+1}} </button>
                     </div>
                     <div class="btn-group footer-right">
                      <button ng-click="step2learning_reset()" type="button" class="btn btn-default" ng-show="step2learning_on" >Reset ESN</button>
                    </div>
                   </div>
               </div>
               <h5>Info:</h5>
               This stage is <a ng-show="step2learning_on">ON</a><a ng-show="!step2learning_on">OFF</a>

           <div class="btn-group input-group" style="width:100%">
               <button ng-click="step3learning()" type="button" class="btn btn-lg btn-danger" ng-show="!step3learning_on" style="width:100%;">KURE it</button>
               <button ng-click="step3learning()" type="button" class="btn btn-lg btn-success" ng-show="step3learning_on" style="width:100%;">KURE it</button>
               <h5>Info:</h5>
               This stage is <a ng-show="step3learning_on">ON</a><a ng-show="!step3learning_on">OFF</a>
           </div>

           </div>
           <canvas id="displayArea" width="400" height="300" style="background:#dddddd;"></canvas>
       </div>

   </div>
</div>
