<div id="touch" style="color: #2b2b2b">
   <!-- class="col-lg-12" > -->
<div class="">
  <a href="#menu-toggle" class="btn btn-default " id="menu-toggle"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Menu</a>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        KURE
        </br>
        TouchScreen Control
      </li>
      <li>
        <div class="btn-group input-group" style="width:100%">
            <button ng-click="step1learning()" type="button" class="btn btn-lg btn-danger" ng-show="!step1learning_on" style="width:100%;">Robot Exploration</button>
            <button ng-click="step1learning()" type="button" class="btn btn-lg btn-success" ng-show="step1learning_on" style="width:100%;">Robot Exploration</button>
            <span>
            Info: <span ng-show="step1learning_on">ON</span>
            <span ng-show="!step1learning_on">OFF</span>
            </span>
        </div>
      </li>
      <li>
        <div class="btn-group input-group" style="width:100%">
            <button ng-click="step2learning()" type="button" class="btn btn-lg btn-danger" ng-show="!step2learning_on" style="width:100%;">Demonstrate Behaviours </button>
            <button ng-click="step2learning()" type="button" class="btn btn-lg btn-success" ng-show="step2learning_on" style="width:100%;">Demonstrate Behaviours</button>

            <div id="drawable"  ng-show="step2learning_on">
                <div class="btn-group input-group" style="width:100%">
                  <div class="btn-group" ng-repeat="exp in expertsON">
                      <button ng-click="expSwitch(exp.id)" type="button" class="btn btn-sml btn-danger" ng-show="!exp.on">Expert {{exp.id+1}}  </button>
                      <button ng-click="expSwitch(exp.id)" type="button" class="btn btn-sml btn-success" ng-show="exp.on" >Expert {{exp.id+1}} </button>
                  </div>
                  <div class="btn-group footer-right">
                   <button ng-click="step2learning_reset()" type="button" class="btn btn-default" ng-show="step2learning_on" >Reset ESN</button>
                 </div>
                </div>
            </div>
            <span>
            Info: <span ng-show="step2learning_on">ON</span>
            <span ng-show="!step2learning_on">OFF</span>
            </span>
          </div>
      </li>
      <li>
        <div class="btn-group input-group" style="width:100%">
            <button ng-click="step3learning()" type="button" class="btn btn-lg btn-danger" ng-show="!step3learning_on" style="width:100%;">KURE it</button>
            <button ng-click="step3learning()" type="button" class="btn btn-lg btn-success" ng-show="step3learning_on" style="width:100%;">KURE it</button>
            <span>
            Info: <span ng-show="step3learning_on">ON</span>
            <span ng-show="!step3learning_on">OFF</span>
            </span>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- <div id="wrap" class="container" ng-show="step2learning_on||step3learning_on" >
  {{recording}}
</div> -->
<div id='container'>
</div>
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    console.log("toggle clicked");
  });

 // location.reload();
</script>
</div>
